@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
  }

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    display: flex;
}

.bgImage {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    flex: 1;
}

.logo {
    position: relative;
    background-color: black;
    color: white;
    opacity: 0.7;
    margin-top: 190px;
    display: flex;
    gap: 50px;
    align-items: center;
    height: 20vh;
}

img {
    margin-left: 60px;
    height: 20vh;
}

.logoText {
    font-family: Norse-Bold;
    font-size: 9rem;
    font-weight: 900;
}

.credit {
    color: white;
    margin-left: 80px;
    margin-top: auto;
    padding: 20px;
}

a {
    color: white;
}

.form {
    min-height: 100vh;
    background-color: whitesmoke;
}

.p1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    padding-left: 30px;
    padding-right: 80px;
}

@media only screen and (max-width: 975px) {
    body {
      flex-wrap: wrap;
    }
}

.form-input {
    background-color: white;
    box-shadow: 10px 5px 5px rgb(180, 175, 175);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.sub {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin-left: 30px;  
}

.input {
  display: flex;
  flex-direction: column;
}
  input {
    border: 1px solid  rgb(207, 213, 218);
    border-radius: 3px;
    padding: 7px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
  }

  input:focus:valid {
    border: 3px solid blueviolet;
  }

  input:focus:invalid {
    border: 3px dotted red;
  }

  button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 900;
    background-color: #1f051e;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    margin-left: 30px;
    margin-top: 15px;
  }

  button:hover {
    background-color: #380936;
  }

  .last {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9rem;
    margin-left: 30px;
    margin-top: 10px;
  }

  .login {
    color: #1f051e;
    font-weight: 900;
  }

  button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}